*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

.below{
    padding-top: 20px;
    margin-top: 100px;
    background-color: purple;
}

/*styles para o navbar*/

nav{
    position: fixed;
    background: black;
    top: 0px;
    height: 100px;
    width: 100%;
    z-index: 1000;
    border-bottom: purple;
    border-style: double;
}

label.logo{
    color: purple;
    font-size: 30px;
    line-height: 90px;
    padding: 0 30px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(221, 196, 221);
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a.active ,nav ul li a:hover{
    background: purple;
    transition: .5s;
    color: white;
    text-decoration: none;
}

/*responsividade navbar*/

.checkbtn{
    font-size:25px;
    color: purple;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1000px){
    label.logo{
        font-size: 30px;
        padding-left: 30px;
    }

    nav ul li a{
        font-size: 14px;
        padding: 7px 9px;
    }
}

@media (max-width: 900px){
    label.logo{
        font-size: 30px;
        padding-left: 25px;
    }

    nav ul li a{
        font-size: 13px;
        padding: 7px 6px;
    }
}

@media (max-width: 810px){
    label.logo{
        font-size: 32px;
        padding-left: 30px;
    }

    .checkbtn{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .3s;
        z-index: 100;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 17px;
    }

    a:hover,a.active{
        background: none;
        color: purple;
    }

    #check:checked ~ .itensnav{
        left: 0;
    }   
}

/*fim responsividade*/

/*fim navbar*/

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

    

    section .section-title {
        
        color: black;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    #footer {
    background: black !important;
    border-top: double;
    border-color: purple;
    }
    #footer h5{
	    padding-left: 10px;
        border-left: 3px solid rgb(221, 196, 221);
        padding-bottom: 6px;
        margin-bottom: 20px;
        color:rgb(221, 196, 221);
    }
    #footer p{
        color: rgb(221, 196, 221);
    }
    #footer a {
        color: rgb(221, 196, 221);
        text-decoration: none !important;
    }
    #footer ul.social li{
    	padding: 3px 0;
    }
    #footer ul.social li a i {
        margin-right: 5px;
    	font-size:25px;
    }
    #footer ul.quick-links li:hover{
	    padding: 3px 0;
	    margin-left:8px;
    }
    

    @media (max-width:767px){
	    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

/*FIM FOOTER */

/*styles para Quem Somos*/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.btn-primary:hover,
.btn-primary:focus {
    background-color: purple;
    border-color: purple;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: purple !important;
    border-color: purple !important;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color:White;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: purple; 
}

.frontside .card .card-title,
.backside .card .card-title {
    color:  purple; 
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/* Quem Somos*/

/* Entrar */

/* Formulário cadastro*/

.cadastro{
    width: 600px;
    background-color: black;
    color: white;
    padding: 15px;
    margin-left: 10px;
    border-style: double;
}

.btn-cadastro{
    background-color: purple;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

form h4{
    color: purple;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.checks{
    margin: 10px;
}

.some{
    display: none;
}

.check-1:checked ~ .aparece-1{
   display: block;
}

.check-2:checked ~ .aparece-2{
    display: block;
}

@media (max-width: 660px){
.cadastro {width: 530px; }
}

@media (max-width: 600px){
    .cadastro {width: 470px; }
 }

 @media (max-width: 550px){
    .cadastro {width: 420px; }
 }

 @media (max-width: 500px){
    .cadastro {width: 370px; }
 }

 @media (max-width: 450px){
    .cadastro {width: 330px; }
    .check-1 {display: inline;}
    .check-2 {display: inline;}
 }

/* ! cadastro */

/* LOGIN */

body{
    background-color: black;
    font-family: sans-serif;
}

.card{
    background-color: whitesmoke;
    padding: 25px;
    border-radius: 5px;
}

form{
    width: 400px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
}

.tittle{
    color: purple;
}

.card-top{
    text-align: center;
}

.card-group{
    margin-bottom: 12px;
}

.card-group > label{
    width: 100%;
    color: black;
    display: block;
}

.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 3px;
}

.card-group > button{
    background-image: linear-gradient(to right, deeppink , rebeccapurple);
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    color: white;
    border: 0px;
    outline: 0;
    font-size: medium;
}

.btn button:hover{
    background-image: linear-gradient(to left, deeppink , rebeccapurple);
}
@media (max-width: 660px){
    .login {width: 350px; }
    }
    
@media (max-width: 600px){
    .login {width: 320px; }
     }
    
@media (max-width: 550px){
    .login {width: 300px; }
     }
    
@media (max-width: 500px){
    .login {width: 270px; }
    }
    
@media (max-width: 450px){
    .login {width: 250px; }
     }

/* ! LOGIN */
