*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(221, 196, 221);
}

/*styles para o navbar*/

nav{
    background: black;
    height: 100px;
    width: 100%;
}

label.logo{
    color: purple;
    font-size: 30px;
    line-height: 100px;
    padding: 0 30px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(221, 196, 221);
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active ,a:hover{
    background: purple;
    transition: .5s;
}

/*responsividade navbar*/

.checkbtn{
    font-size:25px;
    color: purple;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1000px){
    label.logo{
        font-size: 30px;
        padding-left: 30px;
    }
    nav ul li a{
        font-size: 14px;
        padding: 7px 9px;
    }
}

@media (max-width: 900px){
    label.logo{
        font-size: 30px;
        padding-left: 25px;
    }
    nav ul li a{
        font-size: 13px;
        padding: 7px 6px;
    }
}

@media (max-width: 810px){
    label.logo{
        font-size: 32px;
        padding-left: 30px;
    }
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .3s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 17px;
    }
    a:hover,a.active{
        background: none;
        color: purple;
    }
    #check:checked ~ ul{
        left: 0;
    }   
}

/*fim responsividade*/

/*fim navbar*/

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

    section {
        padding: 60px 0;
    }

    section .section-title {
        text-align: center;
        color: black;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    #footer {
    background: black !important;
    }
    #footer h5{
	    padding-left: 10px;
        border-left: 3px solid rgb(221, 196, 221);
        padding-bottom: 6px;
        margin-bottom: 20px;
        color:rgb(221, 196, 221);
    }
    #footer p{
        color: rgb(221, 196, 221);
    }
    #footer a {
        color: rgb(221, 196, 221);
        text-decoration: none !important;
    }
    #footer ul.social li{
    	padding: 3px 0;
    }
    #footer ul.social li a i {
        margin-right: 5px;
    	font-size:25px;
    }
    #footer ul.quick-links li:hover{
	    padding: 3px 0;
	    margin-left:8px;
    }
    #footer ul.quick-links li a i{
	    margin-right: 5px;
    }

    @media (max-width:767px){
	    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

/*FIM FOOTER */
