*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

.below{
    padding-top: 20px;
    margin-top: 100px;
    background-color: black;
}

/*styles para o navbar*/

nav{
    position: fixed;
    background: black;
    top: 0px;
    height: 100px;
    width: 100%;
    z-index: 1000;
    border-bottom: purple;
    border-style: double;
}

label.logo{
    color: purple;
    font-size: 30px;
    line-height: 90px;
    padding: 0 30px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(221, 196, 221);
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a.activeNav ,nav ul li a:hover{
    background: purple;
    transition: .5s;
    color: white;
    text-decoration: none;
}

/*responsividade navbar*/

.checkbtn{
    font-size:25px;
    color: purple;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1000px){
    label.logo{
        font-size: 30px;
        padding-left: 30px;
    }

    nav ul li a{
        font-size: 14px;
        padding: 7px 9px;
    }
}

@media (max-width: 900px){
    label.logo{
        font-size: 27px;
        padding-left: 25px;
    }

    nav ul li a{
        font-size: 13px;
        padding: 7px 6px;
    }
}

@media (max-width: 810px){
    label.logo{
        font-size: 30px;
        padding-left: 30px;
    }

    .checkbtn{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .3s;
        z-index: 100;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 17px;
    }

    nav ul li a:hover, nav ul li a.activeNav{
        background: none;
        color: purple;
    }

    #check:checked ~ .itensnav{
        left: 0;
    }   
}

/*fim responsividade*/

/*fim navbar*/

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

    section .section-title {
        
        color: black;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    #footer {
        background: black !important;
        border-top: double;
        border-color: purple;
        margin-top: 20px;
    }
    #footer h5{
	    padding-left: 10px;
        border-left: 3px solid rgb(221, 196, 221);
        padding-bottom: 6px;
        margin-bottom: 20px;
        color:rgb(221, 196, 221);
    }
    #footer p{
        color: rgb(221, 196, 221);
    }
    #footer a {
        color: rgb(221, 196, 221);
        text-decoration: none !important;
    }
    #footer ul.social li{
    	padding: 3px 0;
    }
    #footer ul.social li a i {
        margin-right: 5px;
    	font-size:25px;
    }
    #footer ul.quick-links li:hover{
	    padding: 3px 0;
	    margin-left:8px;
    }
    

    @media (max-width:767px){
	    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

/*FIM FOOTER */

/*styles para Quem Somos*/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.btn-primary:hover,
.btn-primary:focus {
    background-color: purple;
    border-color: purple;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: purple !important;
    border-color:purple !important;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color:white;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border-style: solid;
    background: black !important;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color:purple; 
}

.frontside .card .card-title,
.backside .card .card-title {
    color:  purple; 
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.card-text{
    color: white;
}

/* Quem Somos*/



/* Entrar */

/* Formulário cadastro*/

.cadastro{
    width: 100% !important;
    background-color: black;
    color: white;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
}

.btn-cadastro{
    background-color: purple;
    padding: 8px;
    border-radius: 10px;
    border: 0px;
    color: white;
    margin: 10px;
}

.cadastro h3{
    color: purple;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.checks{
    margin: 10px;
}

.some{
    display: none;
}

.check-1:checked ~ .aparece-1{
   display: block;
}

.check-2:checked ~ .aparece-2{
    display: block;
}

.cadastro .form-group{
    margin: 10px;
}

.cadastro .coluna {
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.cadastro .linha:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 660px){

    .cadastro .coluna{
        display: block;
        width: 100%;
        float: none;
    }
}

@media (max-width: 450px){
    .check-1 {display: inline;}
    .check-2 {display: inline;}
}

/* ! cadastro */

/* LOGIN */

.card{
    background-color: black !important;
    padding: 20px;
    border-radius: 0px !important;
    border-color: white !important;
}

.login{
    width: 500px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
}

.backToLog{
    color: white;
    font-size: small;
}

.backToLog:hover{
    color: purple;
    text-decoration: none;
}

.tittle{
    color: purple;
}

.card-top{
    text-align: center;
}

.card-group{
    margin-bottom: 12px;
}

.card-group > label{
    width: 100%;
    color: white;
    display: block;
}

.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 40px;
    padding: 3px;
}

.btn-login{
    background-color: purple;
    width: 100%;
    border-radius: 10px;
    padding: 8px;
    color: white;
    border: 0px;
    outline: 0;
    font-size: medium;
}

.forms{
    width: 100%;
    border-radius: 10px;
    padding: 8px;
    color: white;
    border: 0px;
    outline: 0;
    font-size: medium;
}

.textoLoginParaCadastro{
    color: white;
}

.textoLoginParaCadastro:hover{
    color: purple;
}


@media (max-width: 660px){
    .login {
        width: 400px; 
        margin-left: 0px;
    }
}
    
@media (max-width: 430px){
    .login {width: 300px; 
        margin-left: -20px;
    }
}

@media (max-width: 340px){
    .login {width: 280px; 
        margin-left: -30px;
    }
}


/* ! LOGIN */


/*PAG MATERIAIS*/

/*btn interesse*/

.box-material #btnInteresse{
    background-color: purple;
    padding: 0 10px;
    height: 30px;
    margin-top: 12px;
    border-style: none;
}

.box-material #btnInteresse a{
    color: white;
    font-size: 13px;
}

/*box-materiais*/

.box-material{
    display: inline-block;
    width: 500px;
    min-height: 300px;
    border-style: solid;
    border-color: purple;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    vertical-align: middle;
}

.box-material .thumbnail{
    min-width: 150px;
    max-height: 200px;
    margin: 5px;
    float: left;
}

.box-material .titulo{
    margin: 8px;
    color: white;
}

.box-material h8{
    color: white;
}

#categorias button{
    width: 120px;
    color: white;
    background-color: #007944;
    margin: 5px;
    font-size: 15px;
}

#linha{
    background-color: white;
    height: 2px;
}

/*form demanda*/

.btn-abrirForm{
    background-color: purple;
    width: 300px;
    height: 30px;
    margin: 20px;
    border-style: none;
    color: white;
    float: right;
}

.formDemanda{
    width: 100% !important;
    background-color: black;
    color: white;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
}

.btn-demanda{
    background-color: purple;
    padding: 8px;
    border-radius: 10px;
    border: 0px;
    color: white;
    margin: 10px;
}

.formDemanda h3{
    color: purple;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.formDemanda .form-group{
    margin: 10px;
}

.formDemanda .coluna {
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.formDemanda .linha:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 660px){

    .formDemanda .coluna{
        display: block;
        width: 100%;
        float: none;
    }
}

/* ! cadastro */

/* FIM PAG MATERIAIS */


/* PAGINA DEMANDAS*/

/*btn doar*/

.box-demanda #btnDoar{
    background-color: purple;
    width: 100px;
    height: 30px;
    margin-top: 12px;
    border-style: none;
}

.box-demanda #btnDoar a{
    color: white;
    font-size: 13px;
}
/*box-demandas*/

.box-demanda{
    display: inline-block;
    width: 500px;
    min-height: 300px;
    border-style: solid;
    border-color: purple;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    vertical-align: middle;
}

.box-demanda .thumbnail{
    min-width: 150px;
    max-height: 200px;
    margin: 5px;
    float: left;
}

.box-demanda .titulo{
    margin: 8px;
    color: white;
}

.box-demanda h8{
    color: white;
}

/*box-notificacoes*/

.box-notificacao {
    display: inline-block;
    width: 500px;
    min-height: 300px;
    border-style: solid;
    border-color: purple;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    vertical-align: middle;
}

.box-notificacao .thumbnail{
    min-width: 150px;
    max-height: 200px;
    margin: 5px;
    float: left;
}

.box-notificacao .titulo{
    margin: 8px;
    color: white;
    text-transform: capitalize;
}

.box-notificacao h8{
    color: white;
}

#categorias button{
    width: 120px;
    color: white;
    background-color: #007944;
    margin: 5px;
    font-size: 15px;
}

#linha{
    background-color: white;
    height: 2px;
}

/*form material*/


.formCadastro{
    width: 100% !important;
    background-color: black;
    color: white;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
}

.btn-material{
    background-color: purple;
    padding: 8px;
    border-radius: 10px;
    border: 0px;
    color: white;
    margin: 10px;
}

.formCadastro h3{
    color: purple;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.formCadastro .form-group{
    margin: 10px;
}

.formCadastro .coluna {
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.formCadastro .linha:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 660px){

    .formCadastro .coluna{
        display: block;
        width: 100%;
        float: none;
    }
}

/* FIM PAGINA DEMANDAS*/


/*responsividade cards materiais e demandas*/

@media (max-width: 870px){
    
    .btn-abrirForm{
        float: left;
    }

}

@media (max-width: 600px){
    
    .box-material, .box-demanda{
        width: 430px;
        padding-bottom:10px;
    }

}

@media (max-width: 490px){
    
    .box-material, .box-demanda{
        width: 300px;
        padding-left: 10px;
    }

    .box-material .thumbnail, .box-demanda .thumbnail{
        float: none;
    }

}

/* ! responsividade cards materiais e demandas*/


/* HOME */

/* Carrossel*/

.carousel{
    margin-top: 20px;
}

.carousel-inner{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;

}

.carousel-inner{
    margin-bottom: 50px;
}


@media (max-width: 1440px){
    
    .carousel{
        width: 1200px; 
        margin-left: -60px;
    }

}
    
@media (max-width: 1200px){
    
    .carousel{
        width: 960px; 
        margin-left: -20px;
    }

}
@media (max-width: 1000px){
    
    .carousel{
        width: 900px; 
        margin-left: -90px;
    }

}

@media (max-width: 900px){
    
    .carousel{
        width: 800px; 
        margin-left: -50px;
    }

}
@media (max-width: 768px){
    
    .carousel{
        width: 750px; 
        margin-left: -90px;
    }

}
@media (max-width: 700px){
    
    .carousel{
        width: 650px; 
        margin-left: -60px;
    }

}

@media (max-width: 600px){
    
    .carousel{
        width: 550px; 
        margin-left: -10px;
    }

}
@media (max-width: 550px){
    
    .carousel{
        width: 470px; 
        margin-left: -10px;
    }

}

@media (max-width: 425px){
    
    .carousel{
        width: 390px; 
        margin-left: -20px;
    }

}

/*meu perfil*/

.btn-openForm{
    background-color: purple;
    width: 300px;
    height: 30px;
    margin: 5px;
    margin-left: 20px;
    border-style: none;
    color: white;
    float: left;
}

.textAtualizacao{
    color:white;
}

.atualizacao{
    margin: 5px;
}

#btnAtualizacao{
    background-color: purple;
    width: 100px;
    height: 30px;
    margin-top: 0px;
    border-style: none;
}

.pqDoar{
    margin-top: 20px;
    max-width: 100%;
}

@media (max-width: 767px){
    
    .box-perfil{
        width: 430px;
        padding-bottom:10px;
    }

}

@media (max-width: 560px){
    
    .pqDoar .card {
        padding: 0px;
    }

}

@media (max-width: 500px){
    
    .box-perfil{
        width: 300px;
    }

    .box-perfil .thumbnail{
        float: none;
    }

}

.below h1{
    display: inline;
    color: white;
    font-size: 30px;
    margin: 20px;
}

.btnLogout{
    float: right;
    background-color: purple;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    border: 0px;
    color: white;
    margin-right: 20px;
}